{% extends "base.html" %}

{% block javascript_extra %}
    <script src="/static/js/universs.articles.js"></script>
{% endblock %}

{% block sidebar %}
          <ul class="list-group">
            {% for tag in tags|sort(attribute = "title") %}
              <a id="tag-{{ loop.index }}" class="list-group-item {% if tag["title"] == name %} active{% else %}list-group-item-action{% endif %}" href="{{ prepend }}/tags/{{ tag["title"] }}#tag-{{ loop.index }}"><span class="text-muted small numbering">#{{ loop.index }}</span> <strong>{{ tag["title"] }}</strong>{% if tag["unread-articles"] > 0 %}<span class="badge badge-default badge-pill unread-badge">{{ tag["unread-articles"] }}</span>{% endif %}</a>
            {% endfor %}
          </ul>
{% endblock %}

{% block content %}

          <div class="row">
              <div class="col-md-12">
                  <h1 class="page-header">{% if tag %}Artikel zum Schlagwort "{{ tag["title"] }}"{% else %}Schlagworte{% endif %}</h1>
              </div>
              {% if tag %}
              <div class="col-md-12" id="feed-information">
                  <span class="text-muted small">Artikel zum Schlagwort "{{ tag["title"] }}" {% if pages %}• Seite {{ request.args.get("page") or 1 }}/{{ pages[0] }}{% endif %} • {{ articles|length }}/{{ pages[1] }} Artikel • {{ tag["feeds"]|length }} Feed(s)</a></span>
              </div>
              {% endif %}
              <div class="col-md-10" id="articles">

                  {% block articles %}
                  {% include "includes/articles.html" %}
                  {% endblock %}

                  {% block pagination %}
                  {% include "includes/pagination.html" %}
                  {% endblock %}

              </div>
              {% include 'includes/sidebar.html' %}
          </div>

{% endblock %}
