{% extends "base.html" %}

{% block javascript %}

    <script type="text/javascript">
    $(document).ready(function() {
      normalize();
    })

    function normalize() {
      $('div#feed-articles img').removeProp('align');
    }
    </script>

{% endblock %}

{% block sidebar %}
          <ul class="list-group">
            <a class="list-group-item list-group-item-action" href="/feeds/show/_all"><span class="text-muted small numbering">#1.</span> <strong>Alle Artikel</strong></a>
            <a class="list-group-item list-group-item-action disabled" href="#"><span class="text-muted small numbering">#2.</span> <strong>Neue Artikel</strong></a>
            <a class="list-group-item list-group-item-action disabled" href="#"><span class="text-muted small numbering">#3.</span> <strong>Markierte Artikel</strong></a>
          </ul>

          <ul class="list-group">
            {% for feed in feeds|sort(attribute = "title") %}
              <a id="feed-{{ loop.index }}" class="list-group-item {% if feed["title"] == name %} active{% else %}list-group-item-action{% endif %}" href="{{ prepend }}/feeds/show/{{ feed["title"]|urlencode }}#feed-{{ loop.index }}"><span class="text-muted small numbering">#{{ loop.index }}</span> <strong>{{ feed["title"] }}</strong>{% if feed["filters"]|length > 0 %} <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>{% endif %}{% if feed["unread-articles"] %}<span class="badge badge-default unread-badge">{{ feed["unread-articles"] }}</span>{% endif %}</a>
            {% endfor %}
          </ul>
{% endblock %}

{% block content %}

          <h1 class="page-header">{% if feed %}{{ feed["title"] }}{% else %}Feeds{% endif %}</h1>
          <div id="content">
            {% if feed %}
            <div id"feed-information">
              <span class="text-muted small">Feed: "{{ feed["title"] }}" {% if pages %}• Seite {{ request.args.get("page") or 1 }}/{{ pages[0] }}{% endif %} • {{ articles|length }}/{{ pages[1] }} Artikel {% if feed["tags"] %}• Tags: {{ feed["tags"]|join(", ") }} {% endif %}{% if not special %}{% if feed["last-update"] %}• Letzte Aktualisierung: {{ feed["last-update"]|dt }}{% endif %} • <a href="{{ feed["url"] }}">RSS</a> • <a href="/tasks/update/id/{{ feed["_id"] }}">Aktualisieren</a> • <a href="/settings/feed/{{ feed["title"] }}">Einstellungen</a></span>{% endif %}
            </div>
            {% endif %}

            {% block articles %}
            {% with hide_feed_name = True %}
            {% include "includes/articles.html" %}
            {% endwith %}
            {% endblock %}

            {% block pagination %}
            {% include "includes/pagination.html" %}
            {% endblock %}

          </div>

{% endblock %}
