{% extends "feeds/feeds.html" %}

{% block javascript_extra %}
{% endblock %}

{% block content %}

  <h1 class="page-header">Neuer Feed</h1>
  <div id="content">
    <form action="/feeds/new" method="post">
      <fieldset class="form-group">
        <legend>Allgemeine Informationen</legend>
        <div class="form-group">
          <label for="feed-title">Titel</label>
          <input type="text" class="form-control" id="feed-title" name="title" placeholder="...">
        </div>
        <div class="form-group">
          <label for="feed-url">URL</label>
          <input type="text" class="form-control" id="feed-url" name="url" placeholder="http://">
        </div>
        <div class="form-group">
          <label for="feed-tags">Tags</label>
          <input type="text" class="form-control" id="feed-tags" name="tags" placeholder="Politik, Technik, ...">
        </div>
        <div class="form-group">
          <label for="feed-description">Beschreibung</label>
          <textarea id="feed-description" name="description" class="form-control" rows="3" ></textarea>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-success">Hinzufügen</button>
  </div>

{% endblock %}
