            <div id="feed-articles">
            {% if articles and articles|length > 0 %}
            <ul>

            {# Set variables for 1h, 24h, 3d, 7d, 14d, 1m, 3m, 1y stripes #}
            {% set stripes = {} %}
            {% set _ = stripes.update({'1h' : True}) %}
            {% set _ = stripes.update({'24h' : True}) %}
            {% set _ = stripes.update({'3d' : True}) %}
            {% set _ = stripes.update({'7d' : True}) %}
            {% set _ = stripes.update({'14d' : True}) %}
            {% set _ = stripes.update({'3m' : True}) %}
            {% set _ = stripes.update({'1m' : True}) %}
            {% set _ = stripes.update({'1y' : True}) %}

            {% for article in articles|sort(attribute = "date", reverse = True) %}

            {# Stripes... #}
            {% if stripes["1h"] and (now - article["date"]).total_seconds() >= 3600 %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">1 Stunde</span></div>{% endif %}
              {% set _ = stripes.update({'1h' : False}) %}
            {% endif %}
            {% if stripes["24h"] and (now - article["date"]).total_seconds() >= (24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">24 Stunden</span></div>{% endif %}
              {% set _ = stripes.update({'24h' : False}) %}
            {% endif %}
            {% if stripes["3d"] and (now - article["date"]).total_seconds() >= (3*24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">3 Tage</span></div>{% endif %}
              {% set _ = stripes.update({'3d' : False}) %}
            {% endif %}
            {% if stripes["7d"] and (now - article["date"]).total_seconds() >= (7*24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">1 Woche</span></div>{% endif %}
              {% set _ = stripes.update({'7d' : False}) %}
            {% endif %}
            {% if stripes["14d"] and (now - article["date"]).total_seconds() >= (14*24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">14 Tage</span></div>{% endif %}
              {% set _ = stripes.update({'14d' : False}) %}
            {% endif %}
            {% if stripes["1m"] and (now - article["date"]).total_seconds() >= (30*24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">1 Monat</span></div>{% endif %}
              {% set _ = stripes.update({'1m' : False}) %}
            {% endif %}
            {% if stripes["3m"] and (now - article["date"]).total_seconds() >= (3*30*24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">3 Monate</span></div>{% endif %}
              {% set _ = stripes.update({'3m' : False}) %}
            {% endif %}
            {% if stripes["1y"] and (now - article["date"]).total_seconds() >= (365*24*3600) %}
              {% if loop.index > 1 %}<div class="stripe"><span class="text-muted small">1 Jahr</span></div>{% endif %}
              {% set _ = stripes.update({'1y' : False}) %}
            {% endif %}

            <li><span class="text-muted small numbering">#{{ loop.index }}</span> {% if special or not hide_feed_name %}<a class="feed-link" href="/feeds/show/{{ article["feed-name"]|urlencode }}">{{ article["feed-name"] }}</a>: {% endif %}<a href="#{{ article["_id"] }}" data-toggle="collapse" class="article-{% if article["read"] %}read{% else %}unread{% endif %} article-{% if article["marked"] %}marked{% else %}unmarked{% endif %} article-{% if article["starred"] %}starred{% else %}unstarred{% endif %}">{{ article["title"] }}</a>{% if article["starred"] %} <span class="small text-muted"> • <small><span class="glyphicon glyphicon-star" aria-hidden="true"></span></small></span>{% endif %} {% if article["marked"] %} <span class="small text-muted"> • <small><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></small></span>{% endif %} <span class="small text-muted">• {{ article["date"]|dt }}</span></li>
            <div id="{{ article["_id"] }}" class="collapse">


              <ol class="breadcrumb">
                <li class="breadcrumb-item"><strong>Autor</strong>: {{ article["author"] or 'Unbekannt' }}</li>
                <li class="breadcrumb-item"><strong>Veröffentlicht</strong>: {% if article["date"] %}{{ article["date"]|dt }}{% else %}Unbekannt{% endif %}</li>
                <li class="breadcrumb-item"><strong>Sprache</strong>: {{ article["language"] or 'Unbekannt' }}</li>
                <li class="breadcrumb-item"><a href="{{ article["link"] }}">Original</a></li>
                <li class="breadcrumb-item pull-right"><button type="button" class="btn btn-warning btn-xs" onclick="$.get('/marked/{{ article["_id"] }}')">{% if article["marked"] %}Demarkieren{% else %}Markieren{% endif %}</button></li>
                <li class="breadcrumb-item pull-right"><button type="button" class="btn btn-success btn-xs" onclick="$.get('/read/{{ article["_id"] }}')">{% if article["read"] %}Ungelesen{% else %}Gelesen{% endif %}</button></li>
              </ol>
              <div class="article-content well well-sm">
                {{ article["content"]|safe }}
              </div>
            </div>
            {% endfor %}
            </ul>
            {% else %}
              {% if name is none %}
              <p>Klicke auf einen Feed um seine Artikel anzuzeigen.</p>
              <a type="button" class="btn btn-primary" href="/feeds/new">Neuer Feed</a>
              {% else %}
            Hier gibt es leider keine Einträge.
              {% endif %}
            {% endif %}
            </div>
