<div id="feed-articles">
  {% if response and response["results"]|length > 0 %}
    <ul>

      {# Set variables for 1h, 24h, 3d, 7d, 14d, 1m, 3m, 1y stripes #}
      {% set stripes = {} %}
      {% set _ = stripes.update({'1h' : True}) %}
      {% set _ = stripes.update({'24h' : True}) %}
      {% set _ = stripes.update({'3d' : True}) %}
      {% set _ = stripes.update({'7d' : True}) %}
      {% set _ = stripes.update({'14d' : True}) %}
      {% set _ = stripes.update({'3m' : True}) %}
      {% set _ = stripes.update({'1m' : True}) %}
      {% set _ = stripes.update({'1y' : True}) %}


      {% for article in response["results"] %}

        {% include "includes/stripes.html" %}

        <li>
          <span class="text-muted small numbering">#{{ loop.index }}</span>
          {% if special or not hide_feed_name %}
            <a class="feed-link" href="/feeds/show/{{ article["feed-name"]|urlencode }}">{{ article["feed-name"] }}</a>:
          {% endif %}
          &nbsp;<a href="#{{ article["_id"] }}" data-toggle="collapse" class="article-{% if article["read"] %}read{% else %}unread{% endif %} article-{% if article["marked"] %}marked{% else %}unmarked{% endif %} article-{% if article["starred"] %}starred{% else %}unstarred{% endif %}">{{ article["title"] }}</a>
          {% if article["starred"] %}
            <span class="small text-muted"> • <small><span class="glyphicon glyphicon-star" aria-hidden="true"></span></small></span>
          {% endif %}          
          {% if article["marked"] %}
            <span class="small text-muted"> • <small><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></small></span>
          {% endif %}
          <span class="small text-muted">• {{ article["date"]|dt }}</span>
        </li>
        <div id="{{ article["_id"] }}" class="collapse">
          {# We will comment out the actual content to reduce loading time dramatically! #}
          {# The comments will then be removed automatically when the container is uncollapsed. #}
          <!--
            {% include "includes/articles-breadcrumb.html" %}
          <div class="article-content well well-sm clearfix">
            {# We need to take care of nested comments...  #}
            {{ article["content"]|replace("<!--", "<!- -")|replace("-->", "- ->")|safe }}
          </div>
          -->
          </div>
      {% endfor %}
    </ul>
  {% else %}
    {% if name is none %}
      <p>Klicke auf einen Feed um seine Artikel anzuzeigen.</p>
      <a type="button" class="btn btn-primary" href="/feeds/new">Neuer Feed</a>
    {% else %}
      Hier gibt es leider keine Einträge.
    {% endif %}
  {% endif %}
</div>
