{% extends "base.html" %}

{% block sidebar %}
          <ul class="list-group">
            {% for feed in feeds|sort(attribute = "title") %}
            <a id="feed-{{ loop.index }}" class="list-group-item {% if feed["title"] == name %} active{% else %}list-group-item-action{% endif %}" href="/settings/feed/{{ feed["title"] }}#feed-{{ loop.index }}"><span class="text-muted small numbering">#{{ loop.index }}</span> <strong>{{ feed["title"] }}</strong></a>
            {% endfor %}
          </ul>
{% endblock %}

{% block content %}

          <div id="content">
            <h1 class="page-header">Alle Filter</h1>
            <ul>
              {% for f in filters %}
                <li><a href="#filter-{{ f["_id"] }}" data-toggle="collapse">{{ f["name"] }}</a></li>
                <div id="filter-{{ f["_id"] }}" class="collapse">
                  <div class="article-content well well-sm">
                    ...
                  </div>
                  <a class="btn btn-success btn-sm" href="/filters/edit/{{ f["_id"] }}" role="button">Bearbeiten</a>
                  <a class="btn btn-danger btn-sm" href="/filters/delete/{{ f["_id"] }}" role="button">Entfernen</a>
                </div>
              {% endfor %}
            </ul>
            <a class="btn btn-primary" href="/filters/new" role="button">Hinzufügen</a>
          </div>

{% endblock %}
