.sidebar::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 0px; */
}

.sidebar::-webkit-scrollbar-thumb {
	border-radius: 0px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #555555;
}

img#broadcast-icon {
    /* width: 2.5em; */
    /* height: auto; */
    /* margin-top: .75em; */
    margin-left: 0em;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a.feed-link {
    color: #333333;
}

a.feed-link:hover {
    color: black;
}

span.numbering {
    float: left;
    width: 2.7em;
}

a.article-read {
    opacity: 0.5;
}

a.article-marked {
    /* opacity: 0.9; */
    color: #1456c8 ! important;
    font-weight: bold;
}

button#mark-as-read {
    float: right;
}

div#feed-information {
    /* margin-top: 0; */
    /* padding-left: 0; */
}

div.article-content {
    padding: 1.25em;
    font-size: 0.95em;
    background-color: #fcfcfc;
}

div#feed-articles {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#feed-articles img {
    max-width: 33%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 0em;
    height: auto;
    float: left;
}

ol.breadcrumb {
    font-size: .85em;
    height: auto;
    margin: .3em 0em 0.5em 0em;
    padding: .2em .7em;
    vertical-align: middle;
    background-color: #efefef;
}

li.breadcrumb-item > button {
    font-size: 0.8em;
}

span.unread-badge {
    opacity: 0.5;
}

blockquote {
    font-size: 1em;
}

div#sidebar .list-group-item {
    padding: 0.5em 0.75em 0.5em 0.75em;
    font-size: 0.925em;
}

.stripe {
    display: block;
    text-align: center;
    overflow: hidden;
}

.stripe > span {
    position: relative;
    display: inline-block;
}

.stripe > span:before,
.stripe > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eeeeee;
}

.stripe > span:before {
    right: 100%;
    margin-right: 0.75em;
}

.stripe > span:after {
    left: 100%;
    margin-left: 0.75em;
}
